body,
html{
    height: 100%;
    background: #f8fafc;

}
h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4{
    font-family: 'Prata', serif;
}
p,
div{
    font-family: 'Lato', sans-serif;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 16px;
    border-bottom: 1px solid black;
}
.navbar > div{

}
